[build]
  base = "frontend"
  
  command = "npm install --legacy-peer-deps && npm run build"
  
  publish = "dist"

[[headers]]
  for = "/*"
  [headers.values]
    Cross-Origin-Opener-Policy = "same-origin-allow-popups"
    Cross-Origin-Embedder-Policy = "unsafe-none"